main{
	width:900px;
	margin:0 auto 0 auto;
}
header{
	height:143px;
	width:900px; 
	background:url(../images/banner.jpg)
}
section{
	width:900px;
}
aside{
	width:210px;
	float:left;
}
article{
	width:680px;
	float:right;
	padding:0 0 0 10px;
	background:url(../images/bg_post.gif) no-repeat right bottom;
}
footer{
	height:50px;
	width:900px;
	background: #1e90ff;
	clear:both;
	text-align: center;
	padding-top:15px;
	box-sizing:border-box;
	color:white;
}
aside h2{
	color:blue;
	background:url(../images/t_l.gif);
	height:30px;
	font-size:12;
	padding:4px 0 0 4px;
	box-sizing: border-box;
	margin-bottom:0;
}
aside ul{
	list-style-image:url(../images/li.gif);
	border:1px solid #1e90ff;
	padding:5px 0 5px 27px;
	margin-top:0;
}
a:link{
	color:#1e90ff;
	text-decoration:none;
}
a:hover{
	color:red;
	text-decoration:underline;
}
a:visited{
	color:grey;
}
article p{
	text-align: justify;
}
